# Python cache
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment files
.env
*.env

# Virtual environment folders
venv/
env/

# Data files
data/raw/*
data/processed/*
!data/.gitkeep

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/
